/* Navigeerimise stiilid */
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.nav-bar a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  margin-right: 20px; /* Lisatud vahe */
}

.nav-bar a:last-child {
  margin-right: 0; /* Viimasel lingil vahet ei ole */
}

.nav-bar a:hover {
  text-decoration: underline;
}

/* Muud stiilid */
.App {
  text-align: center;
}